<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{/fragments/head :: head}"></th:block>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="menu collapse navbar-collapse" >
        <div class="home ">
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/about}">About</a>
                </li>
                <li>
                    <a th:href="@{/products/add}" sec:authorize="isAuthenticated()">Add Product</a>
                </li>
                <li>
                    <a th:href="@{/products}" sec:authorize="isAuthenticated()">All Offers</a>
                </li>
                <li>
                    <a th:href="@{/products/favourites}" sec:authorize="isAuthenticated()">Favourites</a>
                </li>
                <li>
                    <a th:href="@{/products/my-offers}" sec:authorize="isAuthenticated()">My Offers</a>
                </li>
                <li  sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}">Admin</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li><a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                <li><a th:href="@{/users/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                <li sec:authorize="isAuthenticated()" class="p-1 bg-success text-light rounded">Welcome, <span sec:authentication="name"></span>!</li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/profile}" class="icon-link nav-link">
                        <img class="profile-icon m-r" src="/images/profile.png" alt="profile">
                        Profile
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/users/logout}"
                            th:method="post">
                    <button class="btn btn-dark bg-light text-dark" type="submit">Logout</button>
                </form>
                </li>

            </ul>
        </div>

    </div>
</nav>
</body>
</html>