html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    background: url('/images/parts.png') center center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
}
.cycle_section{
    padding-top: 5em;
}
.hidden{
    display: none;
}



