html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    background: url('/images/management.png') center center repeat fixed;
    background-size: 500px;
    display: flex;
    flex-direction: column;
}
.card-img-top {
    height: 200px;
    object-fit: contain;
}
.h1{
    background-color: #006d7b;
}


