<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <th:block th:replace="~{/fragments/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/product-detail.css">


</head>
<header>
    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>
</header>
<body>
<div class="container pt-5">
    <div class="gallery border-left border-dark border-right border-dark p-4">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a>
                        <img   class="border border-dark rounded"  src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                                 alt="" style="width:100%">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a>
                        <img     src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                                 alt="" style="width:100%">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a>
                        <img     src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                                 alt="" style="width:100%">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="border-left border-dark border-right border-dark">
        <div class="col-md-6">
            <h1 th:text="${product.name}">Product Name</h1>
            <p><strong>Description: </strong><span th:text="${product.description}">Lorem</span></p>
            <p><strong>Price: <span th:text="${product.price}">$1200</span>$</strong></p>

            <div th:if="${isBike}" id="bikeDetails" class="product-details">
                <h2>Bike Details</h2>
                <p><strong>Type: </strong><span th:text="${bike.type}">Mountain</span></p>
                <p><strong>Frame: </strong><span th:text="${bike.frame}">21</span></p>
                <p><strong>Brakes: </strong><span th:text="${bike.brakes}">Standard</span></p>
                <p><strong>Wheels: </strong><span th:text="${bike.wheelsSize}">Standard</span></p>
            </div>

            <div th:if="${isPart}" id="partDetails" class="product-details">
                <h2>Part Details</h2>
                <p><strong>Part Type: </strong><span th:text="${part.type}">Chain</span></p>
                <p><strong>Manufacturer: </strong><span th:text="${part.manufacturer}"></span></p>

                <div th:if="${isChainPart}" id="chainDetails">
                    <h3>Chain Details</h3>
                    <p><strong>Count of speeds: </strong><span th:text="${chainPart.getSpeedsCount()}">5</span></p>
                    <p><strong>Count of chain links: </strong><span th:text="${chainPart.getChainLinks()}">5</span></p>
                </div>

                <div th:if="${isTiresPart}" id="wheelDetails">
                    <h3>Wheel Details</h3>
                    <p><strong>Size: </strong><span th:text="${tiresPart.getSize()}"></span>″</p>
                </div>

                <div th:if="${isFramePart}" id="framePart">
                    <h3>Frame Details</h3>
                    <p><strong>Material: </strong><span th:text="${framePart.getMaterial()}">Something</span></p>
                    <p><strong>Weight: </strong><span th:text="${framePart.getWeight()}">Something</span> kg.</p>
                </div>
            </div>

            <a th:href="@{/products}" class="btn btn-primary mt-3">Back to Products</a>
        </div>
    </div>
</div>
</body>
</html>